:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Base Elements */
body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    margin-left:10px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}
a{
    text-decoration: none;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right:10px;
}
header nav a:hover{
    color: rgb(255, 255, 255);
}

/* First Movie */

.first-movie{
    font-size:16px;
    background:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/assets/img/capa-house.jpg);
    height:600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.first-movie .description{
    margin-bottom:3rem;
}
.first-movie .movie-title{
    margin-top: 20%;
    font-size: 2.5rem;
    font-family: "Helvetica Neue",Helvetica,Arial;
}
.first-movie .btn{
    background-color: rgba(0,0,0,.50); 
    border:none;
    color:white;

    padding: 1rem 3rem;
    margin-right:15px;
    font-size: .85rem;

    cursor: pointer;
    transition: .3s ease all;
}

.first-movie .btn:hover{
    background-color: white;
    color: black;
}

.first-movie .container{
    width: 65%;
}
.btn i{
    margin-right: 8px;
}

.movie-box{
    height: 100%;
    width: 100%;
    display: block;
}

.carousel-movies{
    margin-top: 10px;
}

.carousel-movies .title{
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

/* Footer Styling */

.footer{
    margin-top: 1rem;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 1.8rem;
    background-color: rgba(229, 9, 20, 0.5);
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.footer a{
    margin-left: 10px;
}

/* Responsiveness */

@media screen and (max-width:768px){
    header .container {
        display:flex;
        flex-direction: column;
    }

    .btn{
        margin-top: 5px;
        width: 300px;
    }
}


@media screen and (min-width:1000px){
    .description{
        width: 50%;
    }
    .btn{
        margin-bottom: 5px;
        width: 300px;
    }
}

